[run]
branch = true
parallel = true
patch = subprocess
include =
    */src/*
    *.pyz/*
omit =
    */src/web/*
    */site-packages/*
    */test.py

[paths]
source =
    src/
    */journal*.pyz/
    */.journal/src/

[report]
exclude_also =
    raise NotImplementedError
    if __name__ == .__main__.:
    if sys.version_info < 
skip_covered = true
sort = cover
fail_under = 97
